<%- include('partials/header.ejs') %>
    <main class="home pt-[var(--height-header)] pb-[82px] md:pt-[var(--height-header-md)]">
        <section class="hero flex h-[384px] w-full">            
        </section>
        <section class="detail pt-8 max-w-[80vw] md:max-w-[750px] m-[0_auto]">
            <article>
                <h2 class="text-2xl font-medium text-gray-900"><%= __('You Need to motor') %></h2>
                <ul class="grid grid-cols-2 md:grid-cols-3 gap-4">
                    <% productsMotor.forEach(p => { %>
                        <li>
                            <figure>
                                <div>
                                    <img 
                                    class="rounded-md aspect-video object-cover"
                                    src="<%= p.image %>" alt="<%= p.name %>">
                                </div>
                                <figcaption class="text-gray-700 text-xs">
                                    <p>
                                        <%= __('{{name}} is available',p) %>
                                    </p>
                                    <p>
                                        +5000 <%= __('ads') %>
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    <% }) %>
                </ul>
            </article>
            <article class="detail pt-8 max-w-[80vw] md:max-w-[750px] m-[0_auto]">
                <h2 class="text-2xl font-medium text-gray-900"><%= __('You lifestyle') %></h2>
                <ul class="grid grid-cols-2 md:grid-cols-3 gap-4">
                    <% productsLifestyle.forEach(p => { %>
                        <li>
                            <figure>
                                <div>
                                    <img 
                                    class="rounded-md aspect-video object-cover"
                                    src="<%= p.image %>" alt="<%= p.name %>">
                                </div>
                                <figcaption class="text-gray-700 text-xs">
                                    <p>
                                        <%= __('{{name}} is available', p) %>
                                    </p>
                                    <p>
                                        +500 <%= __('ads') %>
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    <% }) %>
                </ul>
            </article>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
    <div class="fixed flex flex-col p-2 z-50 w-[300px] h-[450px] right-0 bottom-0 bg-amber-300">
        <div class="flex-1">
            <ul class="users-online">

            </ul>
        </div>
        <div class="bg-indigo-300 h-[300px] flex items-end">
            <ul class="messages flex-1 max-h-[300px] overflow-y-auto flex flex-col gap-2 py-1 px-2" data-user="<%= session.userID %>">
                <li
                class="relative"                
                >
                <span 
                class="block absolute size-3 skew-x-[30deg] bg-amber-300 top-0 -left-[.15rem] z-0"></span>
                <div class="w-fit bg-amber-300 rounded-lg px-2 py-1 text-xs z-10 relative">
                    <span>Hola mundo, desde chat</span>
                </div>
                <span class="text-xs text-gray-700">hace 2min</span>
                </li>
                <li
                class="relative ml-auto"                
                >
                <span 
                class="block absolute size-3 skew-x-[30deg] bg-amber-300 top-0 -left-[.15rem] z-0"></span>
                <div class="w-fit bg-amber-300 rounded-lg px-2 py-1 text-xs z-10 relative">
                    <span>Hola mundo, desde chat</span>
                </div>
                <span class="text-xs text-gray-700">hace 2min</span>
                </li>
            </ul>
        </div>
        <div class="flex">
            <input 
            class="txt-message bg-white border px-2 py-1 flex-1"
            type="text" name="message" id="message">
            <button class="send-message bg-emerald-900 rounded-md cursor-pointer px-3 hover:bg-emerald-600 transition-colors duration-300">
                <div class="text-white text-lg flex justify-center items-center">
                    <iconify-icon icon="iconoir:send-solid"></iconify-icon>
                </div>
            </button>
        </div>
    </div>
    </div>
    <script type="module" src="/js/hero.js"></script>
    <script src="/socket.io/socket.io.js"></script>    
    <script src="/js/socket-client.js" defer></script>    
  </body>
</html>

    <%- //include('partials/footer.ejs') %>
    <%- //include('scripts/script_home.ejs') %>