<%- include('partials/header.ejs') %>
    <main class="home pt-[var(--height-header)] pb-[82px] md:pt-[var(--height-header-md)]">
        <section class="hero flex h-[384px] w-full">            
        </section>
        <section class="detail pt-8 max-w-[80vw] md:max-w-[750px] m-[0_auto]">
            <article>
                <h2 class="text-2xl font-medium text-gray-900"><%= __('You Need to motor') %></h2>
                <ul class="grid grid-cols-2 md:grid-cols-3 gap-4">
                    <% productsMotor.forEach(p => { %>
                        <li>
                            <figure>
                                <div>
                                    <img 
                                    class="rounded-md"
                                    src="<%= p.image %>" alt="<%= p.name %>">
                                </div>
                                <figcaption class="text-gray-700 text-xs">
                                    <p>
                                        <%= __('{{name}} is available',p) %>
                                    </p>
                                    <p>
                                        +5000 <%= __('ads') %>
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    <% }) %>
                </ul>
            </article>
            <article class="detail pt-8 max-w-[80vw] md:max-w-[750px] m-[0_auto]">
                <h2 class="text-2xl font-medium text-gray-900"><%= __('You lifestyle') %></h2>
                <ul class="grid grid-cols-2 md:grid-cols-3 gap-4">
                    <% productsLifestyle.forEach(p => { %>
                        <li>
                            <figure>
                                <div>
                                    <img 
                                    class="rounded-md"
                                    src="<%= p.image %>" alt="<%= p.name %>">
                                </div>
                                <figcaption class="text-gray-700 text-xs">
                                    <p>
                                        <%= __('{{name}} is available', p) %>
                                    </p>
                                    <p>
                                        +500 <%= __('ads') %>
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    <% }) %>
                </ul>
            </article>
        </section>
    </main>
    </div>
    <script type="module" src="/js/hero.js"></script>
  </body>
</html>

    <%- //include('partials/footer.ejs') %>
    <%- //include('scripts/script_home.ejs') %>