<%- include('partials/header.ejs') %>
    <main class="home pt-[var(--height-header)]">
        <section class="hero flex h-[384px] w-full">            
        </section>
        <section class="detail">
            <article>
                <h2>Lo que necesitas para tu Motor</h2>
                <ul>
                    <% productsMotor.forEach(p => { %>
                        <li>
                            <figure>
                                <div>
                                    <img src="<%= p.image %>" alt="<%= p.name %>">
                                </div>
                                <figcaption>
                                    <p>
                                        <%= p.name %>
                                    </p>
                                    <p>
                                        +5000 anuncios
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    <% }) %>
                </ul>
            </article>
            <article>
                <h2>Tu estilo de vida</h2>
                <ul>
                    <% productsLifestyle.forEach(p => { %>
                        <li>
                            <figure>
                                <div>
                                    <img src="<%= p.image %>" alt="<%= p.name %>">
                                </div>
                                <figcaption>
                                    <p>
                                        <%= p.name %>
                                    </p>
                                    <p>
                                        +500 anuncios
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    <% }) %>
                </ul>
            </article>
        </section>
    </main>
    </div>
    <script type="module" src="/js/hero.js"></script>
  </body>
</html>

    <%- //include('partials/footer.ejs') %>
    <%- //include('scripts/script_home.ejs') %>