  <%- include('partials/header.ejs') %>
    <% if (errors) { %>
     <div class="errors" data-errors="<%= errors %>"></div>
    <% } %>
    <ul class="notification-container"></ul>
    <main
      class="flex-1 pt-[calc(var(--height-header)+10px)] md:pt-[calc(var(--height-header-md)+10px)] pb-[82px]"
    >
      <section class="max-w-[50vw] md:max-w-[500px] m-[0_auto]">
        <h1 class="font-bold text-center text-3xl pb-8 pt-5">
          <%= __('Create new product') %>
        </h1>
        <form class="form flex flex-col gap-3" method="post" enctype="multipart/form-data">
          <div
            class="relative border flex overflow-hidden rounded-lg"
          >
            <span
              class="absolute bg-black text-white -left-0 -top-0 pr-[.3rem] flex justify-center items-center text-5xl"
            >
              <iconify-icon icon="mingcute:empty-box-fill"></iconify-icon>
            </span>
            <input
              class="name flex-1 focus:outline-none rounded-[inherit] pl-[3.5rem] pr-3 pt-3 pb-3 focus:pt-4 focus:pb-2 peer font-medium"
              type="text"
              name="name"
              id="title"
              autocomplete="off"
              placeholder=" "
              value="<%= oldData.name %>"
            />
            <label
              class="absolute pointer-events-none transition-all duration-300 left-[3.5rem] top-3 peer-focus:top-0 peer-focus:text-xs"
              for="title"
              ><%= __('Name product') %></label
            >
          </div>
          <div
            class="relative border flex overflow-hidden rounded-lg"
          >
            <span
              class="absolute -left-3 -top-3 flex justify-center items-center text-7xl"
            >
              <iconify-icon icon="iconoir:euro-square-solid"></iconify-icon>
            </span>
            <input
              class="price [&::-webkit-inner-spin-button]:appearance-none [appearance:textfield] flex-1 focus:outline-none rounded-[inherit] pl-[3.5rem] pr-3 pt-3 pb-3 focus:pt-4 focus:pb-2 peer font-medium"
              type="number"
              name="price"
              id="price"
              placeholder=" "
              autocomplete="off"
              pattern="^\d+\.\d{2}$"
              value="<%= oldData.price %>"
            />
            <label
              class="absolute pointer-events-none transition-all duration-300 left-[3.5rem] top-3 peer-focus:top-0 peer-focus:text-xs"
              for="price"
              ><%= __('Price product') %></label
            >
          </div>
          <div class="flex flex-col gap-2">
            <span><%= __('Image product') %></span>
            <label
              class="block cursor-pointer rounded-md border border-dashed py-7 text-center"
            >
              <span class="text-sm">
                <%= __('Drag your image or press click to select') %>
              </span>
              <input
                type="file"
                accept="image/*"
                name="image"                
                class="image hidden"
              />
            </label>
            <div class="preview-container flex justify-center items-center shadow-xl relative <%= !previewImage ? 'hidden' : '' %>" id="preview-container-create">
                <% if (previewImage) { %>
                 <img class="aspect-video object-center object-contain" src="<%= previewImage %>" alt="Product image">
                  <button type="button" class="btn-close-preview bg-red-500 hover:bg-red-600 transition-colors duration-300 cursor-pointer px-4 text-white font-medium py-2 absolute right-0 top-0">X</button>
                <% } %>
            </div>
            <% if (previewImage) { %>
              <input type="hidden" class="image-preview" name="imagePreview" value="<%= previewImage %>">
            <% } %>
          </div>
          <div class="flex flex-col gap-2">
            <span><%= __('Categories') %></span>
            <div
              class="dropdown-cont flex"
            >            
              <select
                class="focus:outline-none overflow-hidden px-2 py-1 border rounded-md flex-1"
                name="tags[]"
                id="categories"
                multiple
              >                
                <% tags.forEach(tag => { %>
                <option value="<%= tag._id %>" <%= oldData.tags.includes(tag._id.toString()) ? 'selected' : '' %>><%= tag.name %></option>
                <% }) %>
              </select>
            </div>
          </div>
          <div class="btn-submit flex flex-col">
            <button
              class="bg-emerald-600 hover:bg-emerald-800 text-white transition-colors duration-300 py-3 rounded-lg cursor-pointer text-lg font-medium tracking-wide"
              type="submit"
            >
              <%= __('Create product') %>
            </button>
          </div>
        </form>
      </section>
    </main>
    <%-// include('partials/footer.ejs') %>
  </div>
    <script type="module" src="/js/create.js"></script>
  </body>
</html>
